<!doctype html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> 
    <style>
        body { padding-top:80px; background-color: lightgreen; }
        .jumbotron {background-color: lightgreen;}
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h2>Carbon Tracking Made Easy!</h2>

        <img src="img/footprint.png" />

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup </a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Login with Facebook</a>
    </div>
</div>
</body>
</html>