#locationForm {
	margin-top: 30px;
	padding: 20px;
	background-color: lightgreen;
}

#submitDiv {
	text-align: right;
}

#error {
	color: red;
	display: none;
}

#pusheen {
	text-align: center;
	margin-top: 30px;
}

body {
	color: white;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently */
	background: lightgreen url("/img/background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
