body {
	color: white;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently */
	background: lightgreen url("/img/background.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6, div, p, a, ol, ul, nav {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style-type: none;
}
a {
	text-decoration: none;
}
#wrpr {
	padding: 20px;
	border-radius: 5px;
}
.domain {
	stroke: white;
}
.line {
	stroke: white;
	stroke-width: 1;
}
.dp { 
	fill: white;
}
path {
	stroke: white;
	stroke-width: 1;
	fill: none;
}
.axis path, .axis line {
	stroke-width: 1;
	stroke: white;
	fill: none;
	shape-rendering: crispEdges;
}
.c1 {
	background-color: #b6d7a8;
}
.c2 {
	background-color: rgba(0,0,0,0.1);
}
.c3 {
	background-color: white;
}
.navbar-default {
	background-color: rgba(0,0,0,0.1);
	border: none;
}
/* title */
.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: white;
}
#todo-list {
	border-radius: 5px;
	margin-bottom: 20px;
}
.keywd-wrpr {
	position: relative;
	display: inline-block;
}
.keywd {
	color: #6fa8dc;
}
.keywd:hover {
	text-decoration: underline;
}
.header {
	margin-bottom: 20px;
}
#main {
	padding-top: 20px;
	padding-bottom: 100px;
}
#survey-header {
	margin-top: 80px;
}
#question-title {
	margin-top: 40px;
}
#survey-complete-title {
	margin-top: 40px;
}
.survey-complete-desc {
	margin-top: 20px;
}
.cfp-box {
	overflow: auto;
	position: relative;
	height: 475px;
}
#survey {
	border-left: 1px solid white;
}
#survey-box {
	padding: 5px;
}
#question-category {
	margin-top: 25px;
}
#goals {
	display: none;
}
.input {
	margin-top: 30px;
	margin-bottom: 30px;
}
#input-answer {
	margin-right: 10px;
	color: black;
}
#answer-slider-labels {
	margin-left: 15px;
	margin-bottom: 20px;
}
.answer-slider-label {
	display: inline-block;
	word-wrap: break-word;
	margin-right: 10px;
	width: 80px;
	vertical-align: top;
}
.edit-form {
	position: absolute;
	z-index: 1;
	width: 300px;
	padding: 30px;
	top: 130%;
	color: black;
	border-radius: 5px;
}
.line-break {
	border-bottom: 1px solid white;
}
.err {
	color: #FF0000;
	padding: 5px;
}
#logo {
	width: 50px;
	height: 50px;
	margin-top: -12px;
	padding: 0;
}
.task {
	padding: 8px;
	border-bottom: 1px solid lightgray;
	word-wrap: break-word;
}
.task-check {
	margin-right: 10px !important;
}
#survey-close {
	position: absolute;
	left: 25px;
	top: 10px;
}
#footer {
	padding: 5px;
}
